[Unit]
Description=Team Fortress 2 server

[Service]
Type=simple
User=gameserver
Group=gameserver
Restart=on-failure
RestartSec=30s
ExecStart=/bin/sh /home/gameserver/hlserver/tf2.sh

SyslogIdentifier=TF2Server

[Install]
WantedBy=multi-user.target