[Unit]
Description=Team Fortress 2 server
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=simple
User=gameserver
ExecStart=/bin/sh /home/gameserver/hlserver/tf2.sh

[Install]
WantedBy=multi-user.target