[Unit]
Description=Team Fortress 2 server
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=simple
User=gameserver
ExecStart=/bin/sh /home/gameserver/hlserver/tf2.sh

StandardOutput=/var/log/tf2-server-standard.log
StandardError=/var/log/tf2-server-error.log

[Install]
WantedBy=multi-user.target